@font-face {
  font-family: "Space Mono";
  src: url("~/assets/fonts/Space_Mono/SpaceMono-Italic.woff2") format("woff2"),
    url("~/assets/fonts/Space_Mono/SpaceMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("~/assets/fonts/Space_Mono/SpaceMono-Regular.woff2") format("woff2"),
    url("~/assets/fonts/Space_Mono/SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("~/assets/fonts/Space_Mono/SpaceMono-Bold.woff2") format("woff2"),
    url("~/assets/fonts/Space_Mono/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Jetbrains */
@font-face {
  font-family: "JetBrains Mono";
  src: url("~/assets/fonts/JetBrains/JetBrainsMono-Italic.woff2")
      format("woff2"),
    url("~/assets/fonts/JetBrains/JetBrainsMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("~/assets/fonts/JetBrains/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("~/assets/fonts/JetBrains/JetBrainsMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* SF Mono */
@font-face {
  font-family: "SFMono";
  src: url("~/assets/fonts/sf_mono/SFMono-Bold.woff2") format("woff2"),
    url("~/assets/fonts/sf_mono/SFMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFMono";
  src: url("~/assets/fonts/sf_mono/SFMono-Regular.woff2") format("woff2"),
    url("~/assets/fonts/sf_mono/SFMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFMono";
  src: url("~/assets/fonts/sf_mono/SFMono-Medium.woff2") format("woff2"),
    url("~/assets/fonts/sf_mono/SFMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFMono";
  src: url("~/assets/fonts/sf_mono/SFMono-Semibold.woff2") format("woff2"),
    url("~/assets/fonts/sf_mono/SFMono-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFMono";
  src: url("~/assets/fonts/sf_mono/SFMono-RegularItalic.woff2") format("woff2"),
    url("~/assets/fonts/sf_mono/SFMono-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
