.copy-btn {
  @apply absolute px-2 py-1 text-sm text-white rounded cursor-pointer top-2 right-2 bg-primary-green dark:bg-primary-dark;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 14px;
  padding: 4px 8px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background-color: #00dc82;
}

html.dark .copy-btn {
  background-color: #18181b;
}

/* Header and Title */
.custom-code h1,
.custom-code h2,
.custom-code h3,
.custom-code h4,
.custom-code h5,
.custom-code h6 {
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.custom-code h1 {
  font-size: 2rem;
  font-weight: bold;
}

.custom-code h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.custom-code h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

/* Lists */
.custom-code ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.custom-code ul li {
  margin-bottom: 0.5rem;
}

/* Code Styling */
.custom-code code {
  padding: 0 0.5rem 0.2rem;
  border-radius: 4px;
  font-family: "Jetbrains Mono", monospace, "Space Mono";
  line-height: 2;
  zoom: 120%;
  font-size: 0.95rem;
  position: relative;
  @apply bg-white dark:bg-[#252526] text-[#252526] dark:text-[#f8f8f2];
}

.custom-code pre {
  position: relative;
  @apply bg-white dark:bg-[#252526] text-[#252526] dark:text-[#f8f8f2];
  padding: 0 1.5rem;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.95rem;
  margin: 1rem 0;
  line-height: 1.5;
  border: 1px solid #252525;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.custom-code block {
  @apply bg-gray-100 text-gray-950 dark:text-gray-100 dark:bg-gray-700;
  border-radius: 0.25rem;
  font-size: 0.875em;
  font-weight: 500;
  padding: 0.15rem 0.3rem;
}

.custom-code pre code .keyword {
  color: #66d9ef;
}

.custom-code pre code .string {
  color: #a6e22e;
}

.custom-code pre code .number {
  color: #ae81ff;
}

.custom-code pre code .comment {
  color: #75715e;
  font-style: italic;
}

.custom-code pre code .function {
  color: #fd971f;
}

/* Images */
.custom-code img {
  max-width: 100%;
  border-radius: 8px;
  margin: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Blockquote */
.custom-code blockquote {
  margin: 1.5rem 0;
  padding: 1rem;
  border-left: 4px solid #3498db;
  font-style: italic;
}

/* Summary GIFs */
.custom-code .summary-img {
  display: block;
  margin: 1rem auto;
  max-width: 400px;
  border-radius: 8px;
}

.custom-code table {
  border-collapse: collapse;
  width: 100%;
}

.custom-code th,
.custom-code td {
  border: 1px solid #ccc;
  padding: 8px 12px;
}

.custom-code th {
  background-color: #f4f4f4;
  @apply bg-[#f4f4f4] dark:bg-[#252526];
}

/* Responsive Design */
@media (max-width: 768px) {
  .custom-code h1 {
    font-size: 2rem;
  }

  .custom-code h2 {
    font-size: 1.75rem;
  }

  .custom-code h3 {
    font-size: 1.5rem;
  }

  .custom-code .container {
    padding: 1rem;
  }
}
