@import "./md.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    animation: appear 0.1s ease-in-out;
    scroll-behavior: smooth;
  }

  body {
    font-family: "SFMono", "Space Mono";
  }

  ::selection {
    @apply bg-primary-green/20;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
